Exercises/ModernJS/.parcel-cache/
Forkify/node_modules/
Forkify/.parcel-cache/lock.mdb
Forkify/package-lock.json
Forkify/.parcel-cache/
.vs/JavascriptCourse-P1/v17/.wsuo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/JavascriptCourse-P1/FileContentIndex/3e5f228e-4708-4a50-bb26-5bd1dc751899.vsidx
.vs/JavascriptCourse-P1/FileContentIndex/35fee7f1-c10d-49f1-98b7-3ca5f2100e79.vsidx
.vs/JavascriptCourse-P1/FileContentIndex/e3ed2093-d5cb-4276-acff-5e176bc6bb6e.vsidx
.vs/JavascriptCourse-P1/FileContentIndex/fc9aaf58-f076-406f-bf0e-ef363a4929ae.vsidx
.vs/JavascriptCourse-P1/FileContentIndex/read.lock
Forkify/.parcel-cache/40ddeda4a7a72709.txt
Forkify/src/js/config.js
