Exercises/ModernJS/.parcel-cache/
Forkify/node_modules/
Forkify/.parcel-cache/lock.mdb
Forkify/package-lock.json
Forkify/.parcel-cache/366c89f47b724657
Forkify/.parcel-cache/011825b6dca3ef6d
Forkify/.parcel-cache/data.mdb
